@use '../../_abstracts/index.scss' as *;

$alignments: (
    left: left,
    center: center,
    right: right,
);

$cmp: 'heading';

.#{$cmp} {
    &--highlight {
        background-color: lightgray;
    }

    @each $size, $value in $heading-sizes {
        &--#{$size} {
            font-size: $value;
            font-weight: $fw-bold;
            line-height: 1.2;
        }
    }

    @each $alignment, $value in $alignments {
        &--align-#{$alignment} {
            text-align: $value;
        }
    }

    span {
        display: block;
        font-size: 1.2rem;
        font-weight: $fw-light;
    }
}
