@use '../../_abstracts/index.scss' as *;

@each $size, $value in $spacing {
    .width-#{$size} {
        width: $value !important;
    }

    .height-#{$size} {
        height: $value;
    }
}

@each $color, $value in $colors {
    .bkg-color-#{$color} {
        background-color: $value !important;
    }
}
