@use '../_abstracts/index.scss' as *;

:root {
    --max-width: #{convert-rem($max-width)};
    --baseline: #{convert-rem($baseline)};
    --grid-col-min-width: #{convert-rem(120px)};
    --grid-col-min-width: 20ch;
    --grid-template-cols: repeat(var(--grid-col-count, auto-fit), minmax(var(--grid-col-min-width), 1fr));
    --grid-template-cols: repeat(auto-fit, minmax(min(var(--grid-col-min-width), 100%), 1fr));
    --measure: 60ch;

    @include modular-harmonic-spacing-generator($propertyName: 'ss');
    @include modular-harmonic-spacing-generator($propertyName: 'rs');

    @include breakpoint($mobile) {
        @include modular-harmonic-spacing-generator($propertyName: 'rs', $ratio: 1.65);
    }

    @include breakpoint($tablet) {
        @include modular-harmonic-spacing-generator($propertyName: 'rs', $ratio: 1.75);
    }

    // --ppr-body-text-color: #{settings.$dark};
    // --ppr-body-bg-color: #{settings.$white};

    // --ppr-btn-primary-color: #{settings.$white};
    // --ppr-btn-primary-bg: #{settings.$green};
    // --ppr-btn-primary-bg-hover: #{settings.$green-light};

    // --ppr-btn-secondary-color: #{settings.$white};
    // --ppr-btn-secondary-bg: #{settings.$dark};

    // --ppr-form-color: #{settings.$dark};
    // --ppr-form-bg: #{settings.$white};
    // --ppr-form-error-color: #{settings.$red};
    // --ppr-form-error-border: #{settings.$red};
    // --ppr-form-border-focus-color: #{settings.$green};

    // --ppr-body-font-size: #{settings.$fs-base};
    // --ppr-body-font-weight: #{settings.$fw-normal};

    // --ppr-h1-font-size: #{settings.$h-1};
    // --ppr-h2-font-size: #{settings.$h-2};
    // --ppr-h3-font-size: #{settings.$h-3};
    // --ppr-h4-font-size: #{settings.$h-4};
    // --ppr-h5-font-size: #{settings.$h-5};
    // --ppr-h6-font-size: #{settings.$h-6};

    // --ppr-h1-font-weight: #{settings.$fw-medium};
    // --ppr-h2-font-weight: #{settings.$fw-medium};
    // --ppr-h3-font-weight: #{settings.$fw-medium};
    // --ppr-h4-font-weight: #{settings.$fw-normal};
    // --ppr-h5-font-weight: #{settings.$fw-normal};
    // --ppr-h6-font-weight: #{settings.$fw-light};
}
